In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
def get_data(weeks):
   url = "http://web.mta.info/developers/data/nyct/turnstile/turnstile_{}.txt"

   dfs = []
   for week in weeks:
       file_url = url.format(week)
       dfs.append(pd.read_csv(file_url))
   return pd.concat(dfs)
 
weeks = [220305, 220226, 220219, 220212, 220205, 220129, 220122, 220115, 220108, 220101, 211225, 211218, 211211, 
            211204, 211127, 211120, 211113, 211106, 211030, 211023, 211016, 211009, 211002, 210925, 210918, 210911, 210904,
            210828, 210821, 210814, 210807, 210731, 210724, 210717, 210710, 210703, 210626, 210619, 210612, 210605,
            210529, 210522, 210515, 210508, 210501, 210424, 210417, 210410, 210403, 210327, 210320, 210313, 210306,
            210227, 210220, 210213, 210206, 210130, 210123, 210116, 210109, 210102, 201226, 201219, 201212, 201205,
            201128, 201121, 201114, 201107, 201031, 201024, 201017, 201010, 201003, 200926, 200919, 200912, 200905,
            200829, 200822, 200815, 200808, 200801, 200725, 200718, 200711, 200704, 200627, 200620, 200613, 200606,
            200530, 200523, 200516, 200509, 200502, 200425, 200418, 200411, 200404, 200328, 200321, 200314, 200307,
            200229, 200222, 200215, 200208, 200201, 200125, 200118, 200111]

df = get_data(weeks)

#df.reset_index(inplace = True) ## Reset the indexes
#df.drop(columns='index', inplace=True)

In [3]:
#df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [4]:
df.to_csv(r'/Users/atalaybarut/Downloads/mta_data_2.csv')